services:
  stem:
    build:
      context: .
      dockerfile: stem/Dockerfile
      args:
        STEM_USER: ${STEM_USER:-dev}
        STEM_UID: ${STEM_UID:-1000}
        STEM_GID: ${STEM_GID:-1000}
        TZ: ${TZ:-UTC}
        APOGEE_VERSION: ${APOGEE_VERSION:-}
    image: hatch-stem:local
    container_name: ${STEM_CONTAINER_NAME:-stem}
    hostname: ${STEM_HOSTNAME:-stem}

    ports:
      - "${STEM_SSH_PORT:-2222}:22"

    env_file:
      - .env

    environment:
      TERM: ${TERM:-xterm-256color}
      COLORTERM: truecolor

      # SSH behavior
      STEM_SSH_PASSWORD_AUTH: ${STEM_SSH_PASSWORD_AUTH:-0}
      STEM_SSH_PASSWORD: ${STEM_SSH_PASSWORD:-}

      # Bindu bootstrap (copy content into ~/.config)
      BINDU_REPO: ${BINDU_REPO:-https://github.com/suhailphotos/bindu.git}
      BINDU_REF: ${BINDU_REF:-main}

      # Identity used by entrypoint
      STEM_USER: ${STEM_USER:-dev}
      STEM_UID: ${STEM_UID:-1000}
      STEM_GID: ${STEM_GID:-1000}

    volumes:
      - ./:/workspace
      - stem_home:/home/${STEM_USER:-dev}
      - ${SSH_AUTH_KEYS_PATH:-./authorized_keys}:/opt/ssh/authorized_keys:ro

    working_dir: /workspace
    tty: true
    stdin_open: true

volumes:
  stem_home:
